@model Kory.Tools.Data.RefereeTools.Details

@* This partial view defines form fields that will appear when creating and editing entities *@

<script type="text/javascript" src="~/Scripts/jquery.timepicker.js"></script>
@*<link rel="stylesheet" href="~/Areas/Officiating/Views/Shared/bootstrap-override.css" />*@

<div class="span6">
    <div class="well well-lg">
        <div class="row-fluid margin-top-25">
            <div class="span4">
                <div class="display-block bold">Date Of Game</div>
                <div class="input-group">
                    <input type="text" id="gameDate" class="form-control" placeholder="Game Date" />	
                    <span class="input-group-addon" id="btnCalendar" style="cursor:pointer;">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="span3">
                <div class="display-block bold">Game Time</div>
                <div>
                    <input type="text" class="form-control" data-time-format="H:i:s" id="gameTime" />
                </div>
            </div>
            <div class="span3">
                <div class="display-block bold">Ref or Line</div>
                <div class="btn-group">
                    <button type="button" class="btn-small  btn-default" id="btnRef">Ref</button>
                    <button type="button" class="btn-small  btn-default" id="btnLine">Line</button>
                </div>
            </div>
        </div>
        <div class="row-fluid margin-top-25">
            <div class="span4">
                <div class="display-block bold">Arena Name</div>
                <div>
                    <input type="text" class="form-control" id = "ArenaName" />
                </div>
            </div>
            <div class="span3">
                <div class="display-block bold">Dist Traveled</div>
                <div>
                    <input type="text" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row-fluid margin-top-25">
            <div class="span4">
                <div class="display-block bold">Age Group Name</div>
                <div>
                    <input type="text" class="form-control" id = "AgeGroupName" />
                </div>
            </div>
            <div class="span3">
                <div class="display-block bold">Age Group Tier</div>
                <div>
                    <input type="text" class="form-control" id = "AgeGroupTier"/>
                </div>
            </div>
        </div>
        <div class="row-fluid margin-top-25">
            <div class="span4">
                <div class="display-block bold">Partner(s)</div>
                <div>
                    <input type="text" class="form-control" id = "OfficialsName" />
                </div>
            </div>
            <div class="span3">
                <div class="display-block bold">Rate Of Pay</div>
                <div class="input-group">
                    <input type="text" class="form-control" />	
                </div>
            </div>
        </div>
        <div class="row-fluid margin-top-25">
            <div class="span4">
                <div class="display-block bold">Misc Expense</div>
                <div>
                    <input type="text" class="form-control" style="width:100px" data-format-string="{0:C0}" placeholder="0.00"/>
                </div>
            </div>
            <div class="span4">
                <div class="display-block bold">Date Paid</div>
                <div class="input-group">
                    <input type="text" id="datePaid" class="form-control" placeholder="Select Date Paid" />	
                    <span class="input-group-addon" id="btnCalendarDatePaid" style="cursor:pointer;">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row-fluid margin-top-25">
            <div class="span4">
                <div class="display-block bold">Amount Paid</div>
                <div>
                    <input type="text" class="form-control" style="width:100px" data-format-string="{0:C0}" placeholder="0.00"/>
                </div>
            </div>
        </div>
    </div>
</div>


@*<form>
    <fieldset class="normal">
        <legend>Game</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.GameDate)
        </div>
        <div class="input-group">
            <input type="text" id="gameDate" class="form-control" placeholder="Select Game Date" />	
            <span class="input-group-addon" id="btnCalendar" style="cursor:pointer;">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>

        <br />
        <br />

        <div class="editor-label">
            @Html.LabelFor(model => model.GameTime)
        </div>

        

        <br />
        <br />

        <div class="editor-label">
            @Html.LabelFor(model => model.Ref)
        </div>
        <div class="btn-group">
            <button type="button" class="btn-small  btn-default" id="btnRef">Ref</button>
            <button type="button" class="btn-small  btn-default" id="btnLine">Line</button>
        </div>
    </fieldset>*@

    @*<br />
    <br />

    <fieldset class="normal">
        <legend>Arena</legend>
        <div class="editor-label left-label">
            @Html.LabelFor(model => model.Arena.ArenaName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Arena.ArenaName, htmlAttributes: new { id = "ArenaName" })
            @Html.ValidationMessageFor(model => model.Arena.ArenaName)
        </div>

        <br />
        <br />
        
        <div class="editor-label">
            @Html.LabelFor(model => model.DistanceTraveled)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DistanceTraveled)*@
            @*@Html.ValidationMessageFor(model => model.DistanceTraveled)*@
        @*</div>
    </fieldset>

    <br />
    <br />

    <fieldset>
        <legend>Age Group</legend>
        <div class="editor-label left-label">
            @Html.LabelFor(model => model.AgeGroup.GroupName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.AgeGroup.GroupName, htmlAttributes: new { id = "AgeGroupName" })
            @Html.ValidationMessageFor(model => model.AgeGroup.GroupName)
        </div>

        <br />
        <br />

        <div class="editor-label left-label">
            @Html.LabelFor(model => model.AgeGroup.GroupTier)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.AgeGroup.GroupTier, htmlAttributes: new { id = "AgeGroupTier" })
            @Html.ValidationMessageFor(model => model.AgeGroup.GroupTier)
        </div>
    </fieldset>

    <br />
    <br />

    <fieldset>
        <legend>Official</legend>
        <div class="editor-label left-label">
            @Html.LabelFor(model => model.Officials.OfficialName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Officials.OfficialName, htmlAttributes: new { id = "OfficialsName" })
            @Html.ValidationMessageFor(model => model.Officials.OfficialName)
        </div>
    </fieldset>

    <br />
    <br />

    <fieldset>
        <legend>Misc</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.RateOfPay)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RateOfPay)*@
           @* @Html.ValidationMessageFor(model => model.RateOfPay)*@
        @*</div>

        <br />
        <br />

        <div class="editor-label">
            @Html.LabelFor(model => model.MiscExpense)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MiscExpense)*@
            @*@Html.ValidationMessageFor(model => model.MiscExpense)*@
        @*</div>

        <br />
        <br />

        <div class="editor-label">
            @Html.LabelFor(model => model.DatePaid)
        </div>
        <div class="input-group">
            <input type="text" id="datePaid" class="form-control" placeholder="Select Date Paid" />	
            <span class="input-group-addon" id="btnCalendarDatePaid" style="cursor:pointer;">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>

        <br />
        <br />

        <div class="editor-label">
            @Html.LabelFor(model => model.AmountPaid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AmountPaid)*@
            @*@Html.ValidationMessageFor(model => model.AmountPaid)*@
     @*   </div>
    </fieldset>
</form>*@

@*<div class="editor-label">
    @Html.LabelFor(model => model.Line)
</div>*@

<script type="text/javascript">
    $(document).ready(function () {
        
        $("#gameTime").timepicker({
            'minTime': '7:00 am',
            'maxTime': '9:20 pm',
            'step': 10
        });
    });

    $('#btnCalendar').click(function () {
        //alert('clcikec');
        $(document).ready(function () {
            $("#gameDate").datepicker().focus();
        });
    });

    $('#btnCalendarDatePaid').click(function () {
        //alert('clcikec');
        $(document).ready(function () {
            $("#datePaid").datepicker().focus();
        });
    });

    $("#gameTime").timepicker({
        'minTime': '7:00 am',
        'maxTime': '9:20 pm',
        'step': 10
    });

    $("#datePaid").datepicker();
    
    $(function () {
        $("#ArenaName").autocomplete({
            minLength : 4,
            source: '/Autocomplete/GetAllArenas' 
        });
    });

    $(function () {
        $("#AgeGroupName").autocomplete({
            minLength: 4,
            source: '/Autocomplete/GetAllAgeGroupNames'
        });
    });

    $(function () {
        $("#AgeGroupTier").autocomplete({
            minLength: 1,
            source: '/Autocomplete/GetAllAgeGroupTiers'
        });
    });

    $(function () {
        $("#OfficialsName").autocomplete({
            minLength: 4,
            source: '/Autocomplete/GetAllOfficials'
        });
    });

    $('#btnRef').click(function () {
        $(this).removeClass('btn-default');
        $(this).addClass('primary-override');

        $('#btnLine').removeClass('primary-override');
        $('#btnLine').addClass('btn-default');

    });

    $('#btnLine').click(function () {
        $(this).removeClass('btn-default');
        $(this).addClass('primary-override');

        $('#btnRef').removeClass('primary-override');
        $('#btnRef').addClass('btn-default');
    });

   
</script>

