@model Kory.Tools.Data.RefereeTools.Arena

@{
    ViewBag.Title = "Delete";
}

<br />

@Html.Partial("_OfficiatingMenu")

<h2>Delete</h2>

<br />
<br />

<div class="span6-Narrow" style="height:auto">
    <div class="well-min" style="height: auto">
        <div class="well-lg" style="height: auto">
            <div class="row-fluid margin-top-25">
                <div class="span3-Narrow">
                    <div class="display-block bold">Arena Name</div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.ArenaName)
                    </div>
                </div>
                <div class="span3-Narrow">
                    <div class="display-block bold"> Arena's City</div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.City)
                    </div>
                </div>
                <div class="span3-Narrow">
                    <div class="display-block bold"> Arena's State</div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.State)
                    </div>
                </div>
                <div class="span3-Narrow">
                    @using (Html.BeginForm()) 
                    {
                        <p>
                            <input type="submit" value="Delete" class="btn-small danger-override"/>
                        </p>
                    }
                </div>
            </div>
            @*<div class="row-fluid margin-top-25">
                
            </div>*@
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div>
    <button class="btn-small btn-info" onclick="location.href='@Url.Action("Index","Arena")'"><span class="glyphicon glyphicon-home"></span> Back to List</button>
</div>


