<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#" onclick="location.href='@Url.Action("Index", "Home")'">Officiating Home</a>
        <ul class="nav">
            <li class="divider-vertical"></li>
            <li><a class="brand" href="#" onclick="location.href='@Url.Action("Index", "AgeGroup")'">Age Group</a></li>
            <li class="divider-vertical"></li>
            <li><a class="brand" href="#" onclick="location.href='@Url.Action("Index", "Arena")'">Arena</a></li>
            <li class="divider-vertical"></li>
            <li><a class="brand" href="#" onclick="location.href='@Url.Action("Index", "Officials")'">Officials</a></li>
            <li class="divider-vertical"></li>
            <li><a class="brand" href="#" onclick="location.href='@Url.Action("Index", "Details")'">Game Details</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a href="#" class="brand" data-toggle="dropdown">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>Run Extract Job</a></li>
                    </ul>
            </li>
        </ul>
        @*@Html.ActionLink("Age Group", "Index", "AgeGroup", null, new { @class = "brand" })*@
    </div>
</div>